/* 
    COLOR PALETTE
    lightOlive:  rgb(96, 108, 56);
    darkOlive:   rgb(40, 54, 24);
    white: rgb(241, 241, 241);
    mediumWhite: rgb(254, 250, 224);
    lightBrown: rgb(221, 161, 94);
    lightBrown: rgb(188, 108, 37);
*/

:root {
    --color-lightOlive:rgb(96, 108, 56);
    --color-darkOlive:rgb(40, 54, 24);
    --color-white: rgb(241, 241, 241);
    --color-mediumWhite: rgb(254, 250, 224);
    --color-lightBrown: rgb(221, 161, 94);
    --color-darkBrown: rgb(188, 108, 37);

    --color-body-bg:rgb(40, 54, 24);
    --color-formContainer-bg:rgb(96, 108, 56);
    --color-inputLabel-f:rgb(221, 161, 94);
    --color-bodyText:rgb(254, 250, 224);

    --border-radius-medium: 2rem;

    --spacing-margin-small: .5rem;
    --spacing-margin-medium: 1rem;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-bodyText);
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--color-body-bg);

    min-height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-formContainer-bg);
    border: 2px solid var(--color-white);
    border-radius: var(--border-radius-medium);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .9);

    padding: 5rem;
}

.heading-h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: var(--color-white);
    text-decoration-line: underline;
    text-underline-offset: 3px;
    letter-spacing: 3px;
    /* border: 2px solid aliceblue;
    border-radius: var(--border-radius-medium); */
    padding: 1rem 3rem;
    margin-bottom: var(--spacing-margin-medium);
}

.form-container label {
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: .5rem;

}

.input-label-container {
    display: flex;
    margin-bottom: var(--spacing-margin-medium);
}

.input-label-container.message {
    display: block;
}

.input-label-container.message label {
    display: block;
}

.input-label-container.message textarea {
    display: block;
    width: 100%;
}

.input-label-container input {
    flex: 1 0 100px;
}

.btn {
    display: block;
    color: white;
    font-weight: 700;
    background-color: darkslategray;
    border-radius: 2rem;
    outline: none;
    border: none;
    min-width: 10rem;
    padding: 1rem 2rem;
    margin: 0 auto;
}

input, textarea {
    background-color: var(--color-darkOlive);
    padding: .5rem;
}

::placeholder {
    color: aliceblue;
}